/* REXBROWSCAP ADDON | REXDEV.DE |REDAXO BACKEND STYLES OVERRIDES */

.rexbrowscap  {
  padding:2px 8px 8px 8px;
  }
  
.rexbrowscap p {
  font-size:12px;
  }

.rexbrowscap h1 {
  font-size:16px;
  border-bottom:1px solid #DFE9E9;
  margin:2px 0 10px 0;
  padding:0 0 2px 0;
  }

.rexbrowscap h2 {
  font-size:14px;
  margin:2px 0 10px 0;
  padding:0;
  }

.rexbrowscap h3 {
  font-size:13px;
  margin:2px 0 10px 0;
  padding:0;
  }

.rexbrowscap h4 {
  font-size:12px;
  margin:2px 0 10px 0;
  padding:0;
  }

.rexbrowscap h5 {
  font-size:11px;
  margin:2px 0 10px 0;
  padding:0;
  }
  
.rexbrowscap cite,
.rexbrowscap code,
.rexbrowscap pre {
  color:blue;
  font-family:monospace;
  font-style:normal;
  font-size:12px;
  }

.rexbrowscap pre {
  overflow:auto;
  border:1px dashed #C0C0C0;
  background:#FAF9F5;
  margin:2px 4px 8px 0;
  padding:8px;
  line-height:12px;
  }

.rexbrowscap hr {
  height:1px;
  border:0;
  border-top:1px solid silver;
  margin:8px 0;
  padding:0;
  }
  
span.addonversion
{
  font-size:10px;
  color:silver;
}